<p>
    <div class="post-image appear-animation bounceIn appear-animation-visible centered">
        <div class="img-thumbnail">
            <a href="{{ entity.full_url }}">
                <img src="{{ entity.thumbnail.url }}" class="img-responsive">
            </a>
        </div>
    </div>
</p>
<p class="aligned-center"><a href="{{ entity.full_url }}" class="no-underline"><b>{{ entity }}</b></a></p>
<hr>
{% for field, value in entity.fields.items %}
{% if field != 'thumbnail' %}
{% if not field|first == '_' %}
<p>
    <b>{{ field }}</b>: {% if value.long_name %}<a href="{{ value.full_url}}" class="no-underline">{{ value.long_name }}</a>{% else %}{% if value %}{{ value }}{% else %}None{% endif %}{% endif %}
</p>
{% endif %}
{% endif %}
{% endfor %}