                                                {% if data_tree %}
                                                <ul>
                                                    <li data-jstree='{ "opened" : false }' class="colored">
                                                        <a href="#" class="project-branch" data-action="/browser/details/{{ data_tree.project.type }}/{{ data_tree.project.id }}/">{{ data_tree.project.long_name }}</a>
                                                        <ul>
                                                            <li data-jstree='{ "opened" : false }'>
                                                                Assets
                                                                <ul>
                                                                    {% for asset_data in data_tree.assets.values %}
                                                                    <li data-jstree='{ "opened" : false }'>
                                                                        <a href="#" class="entity-branch asset-branch" data-status="{{ asset_data.entity.status.long_name }}" data-type="{{ asset_data.entity.asset_type.long_name }}" data-author="{{ asset_data.entity.created_by }}" data-action="/browser/details/{{ asset_data.entity.type }}/{{ asset_data.entity.id }}/">{{ asset_data.entity.long_name }}</a>
                                                                        <ul>
                                                                            {% for resource_data in asset_data.children.values %}
                                                                            <li data-jstree='{ "opened" : false }'>
                                                                                <a href="#" class="entity-branch resource-branch" data-status="{{ resource_data.entity.status.long_name }}" data-category="{{ resource_data.entity.category }}" data-author="{{ resource_data.entity.created_by }}" data-action="/browser/details/{{ resource_data.entity.type }}/{{ resource_data.entity.id }}/">{{ resource_data.entity.long_name }}</a>
                                                                                <ul>
                                                                                    {% for version_data in resource_data.children.values %}
                                                                                    <li data-jstree='{ "opened" : false }'>
                                                                                        <a href="#" class="entity-branch" data-status="{{ version_data.entity.status.long_name }}" data-author="{{ version_data.entity.created_by }}" data-action="/browser/details/{{ version_data.entity.type }}/{{ version_data.entity.id }}/">{{ version_data.entity.long_name }}</a>
                                                                                    </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>

                                                            <li data-jstree='{ "opened" : false }'>
                                                                Episodes
                                                                <ul>
                                                                    {% for episode_data in data_tree.episodes.values %}
                                                                    <li data-jstree='{ "opened" : false }'>
                                                                        <a href="#" class="entity-branch" data-status="{{ episode_data.entity.status.long_name }}" data-author="{{ episode_data.entity.created_by }}" data-action="/browser/details/{{ episode_data.entity.type }}/{{ episode_data.entity.id }}/">{{ episode_data.entity.long_name }}</a>
                                                                        <ul>
                                                                            {% for sequence_data in episode_data.children.values %}
                                                                            <li data-jstree='{ "opened" : false }'>
                                                                                <a href="#" class="entity-branch" data-status="{{ sequence_data.entity.status.long_name }}" data-author="{{ sequence_data.entity.created_by }}" data-action="/browser/details/{{ sequence_data.entity.type }}/{{ sequence_data.entity.id }}/">{{ sequence_data.entity.long_name }}</a>
                                                                                <ul>
                                                                                    {% for shot_data in sequence_data.children.values %}
                                                                                    <li data-jstree='{ "opened" : false }'>
                                                                                        <a href="#" class="entity-branch" data-status="{{ shot_data.entity.status.long_name }}" data-author="{{ shot_data.entity.created_by }}" data-action="/browser/details/{{ shot_data.entity.type }}/{{ shot_data.entity.id }}/">{{ shot_data.entity.long_name }}</a>
                                                                                        <ul>
                                                                                            {% for resource_data in shot_data.children.values %}
                                                                                            <li data-jstree='{ "opened" : false }'>
                                                                                                <a href="#" class="entity-branch resource-branch" data-status="{{ resource_data.entity.status.long_name }}" data-category="{{ resource_data.entity.category }}" data-author="{{ resource_data.entity.created_by }}" data-action="/browser/details/{{ resource_data.entity.type }}/{{ resource_data.entity.id }}/">{{ resource_data.entity.long_name }}</a>
                                                                                                <ul>
                                                                                                    {% for version_data in resource_data.children.values %}
                                                                                                    <li data-jstree='{ "opened" : false }'>
                                                                                                        <a href="#" class="entity-branch" data-status="{{ version_data.entity.status.long_name }}" data-author="{{ version_data.entity.created_by }}" data-action="/browser/details/{{ version_data.entity.type }}/{{ version_data.entity.id }}/">{{ version_data.entity.long_name }}</a>
                                                                                                    </li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>

                                                            <li data-jstree='{ "opened" : false }'>
                                                                Sequences
                                                                <ul>
                                                                    {% for sequence_data in data_tree.sequences.values %}
                                                                    <li data-jstree='{ "opened" : false }'>
                                                                        <a href="#" class="entity-branch" data-status="{{ sequence_data.entity.status.long_name }}" data-author="{{ sequence_data.entity.created_by }}" data-action="/browser/details/{{ sequence_data.entity.type }}/{{ sequence_data.entity.id }}/">{{ sequence_data.entity.long_name }}</a>
                                                                        <ul>
                                                                            {% for shot_data in sequence_data.children.values %}
                                                                            <li data-jstree='{ "opened" : false }'>
                                                                                <a href="#" class="entity-branch" data-status="{{ shot_data.entity.status.long_name }}" data-author="{{ shot_data.entity.created_by }}" data-action="/browser/details/{{ shot_data.entity.type }}/{{ shot_data.entity.id }}/">{{ shot_data.entity.long_name }}</a>
                                                                                <ul>
                                                                                    {% for resource_data in shot_data.children.values %}
                                                                                    <li data-jstree='{ "opened" : false }'>
                                                                                        <a href="#" class="entity-branch resource-branch" data-status="{{ resource_data.entity.status.long_name }}" data-category="{{ resource_data.entity.category }}" data-author="{{ resource_data.entity.created_by }}" data-action="/browser/details/{{ resource_data.entity.type }}/{{ resource_data.entity.id }}/">{{ resource_data.entity.long_name }}</a>
                                                                                        <ul>
                                                                                            {% for version_data in resource_data.children.values %}
                                                                                            <li data-jstree='{ "opened" : false }'>
                                                                                                <a href="#" class="entity-branch" data-status="{{ version_data.entity.status.long_name }}" data-author="{{ version_data.entity.created_by }}" data-action="/browser/details/{{ version_data.entity.type }}/{{ version_data.entity.id }}/">{{ version_data.entity.long_name }}</a>
                                                                                            </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                {% endif %}