
                            {% if entity.locked %}
                            <section class="panel panel-featured panel-featured-warning">
                            {% else %}
                            <section class="panel panel-featured panel-featured-primary">
                                {% endif %}
                                <form method="post" class="update-form" action="/update/{{ entity.type }}/{{ entity.id }}/" enctype="multipart/form-data">
                                    <input type='hidden' id="updateFormCSRF" name='csrfmiddlewaretoken' value="{{ csrf_token }}" />
                                    <header class="panel-heading">
                                        <h2 class="panel-title"><i class="fa fa-edit"></i>  {{ entity.type }} <b>{{ entity.long_name }}</b></h2>
                                        <div class="panel-actions">
                                            <a href="#" class="fa fa-times-circle-o form-close" data-toggle="tooltip" data-placement="top" data-original-title="Close"></a>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="modal-wrapper">
                                            <div class="modal-text">
                                                {% for field in form.visible_fields %}
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label aligned-right">{{ field.label_tag }}</label>
                                                    <div class="col-sm-9">
                                                        {{ field }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% for field in form.hidden_fields %}
                                                    {{ field }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger form-delete-btn float-left" data-action="/delete/{{ entity.type }}/{{ entity.id }}/">Delete</button>
                                                <button class="btn btn-default modal-dismiss">Cancel</button>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </section>