<!doctype html>
<html id="html" class="fixed{% if sidebar_collapsed %} sidebar-left-collapsed{% endif %}">

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Piper Server Dashboard" />
		<meta name="description" content="Piper Server is the web application component of the Piper Pipeline Toolkit - an out-of-the-box CGI production tracking and data management software suite.">
		<meta name="author" content="Viktor Petrov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% load static %}

        <title>{% block title %}Piper Dashboard{% endblock %}</title>

        <!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

		<!-- Web Fonts  -->
		<!--link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css"-->

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/morris/morris.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.css' %}" />
        {% block custom_page_css %}
        {% endblock %}

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="/" class="logo no-underline">
						<img src="{% static 'images/logo.png' %}" height="35" alt="Piper Logo" /><b>  v1.0.1</b>
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					<form action="/search/" class="search nav-form">
						<div class="input-group input-search">
							<input type="text" class="form-control" name="q" id="q" placeholder="Search everywhere...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
			
					<span class="separator"></span>
			
					<ul class="notifications">

						<li class="dropdown">
							<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
								<i class="fa fa-tasks"></i>
								<span class="badge">{{ user.active_tasks|length }}</span>
							</a>
							<div class="dropdown-menu notification-menu large">
								<div class="notification-title">
									<span class="pull-right label label-default">{{ user.active_tasks|length }}</span>
									Tasks
								</div>

								<div class="content scrollable">
									<ul>
                                        {% for task in user.active_tasks %}
										<li>
											<p class="clearfix mb-xs">
                                                <a href="{{ task.full_url }}"><span class="message pull-left">{{ task.link.project.name}} / {{ task.link.name }} / {{ task.name }}</span></a>
													<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
														<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ task.progress_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.progress_percentage }}%;">
															{{ task.progress_percentage }}%
														</div>
													</div>
											</p>
										</li>
                                        {% endfor %}
									</ul>
                                    <hr />
								</div>
							</div>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
								<i class="fa fa-envelope"></i>
								<span class="badge">{{ user.unseen_notes|length }}</span>
							</a>
							<div class="dropdown-menu notification-menu large">
								<div class="notification-title">
                                    <span class="pull-right label label-default"><a class="whitened" href="/notes/">{{ user.unseen_notes|length }} (View all)</a></span>
									Notes
								</div>
			
								<div class="content scrollable">
									<ul>
                                        {% for note in user.unseen_notes %}
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<div class="img-thumbnail">
                                                    	<a href="{{ note.author.full_url }}" target="_blank"><img src="{{ note.author.thumbnail.url }}" height="25px" alt="{{ note.author.username }}" class="img-rounded" /></a>
													</div>
												</figure>
                                                <span class="title"><a href="{{ note.author.full_url }}" target="_blank">{{ note.author.name }}</a> on {{ note.parent.type }} <a href="{{ note.parent.full_url }}" target="_blank">{{ note.parent.long_name }}</a></span>
												<span class="message"><a href="/correspondence/{{ note.id }}/">{{ note.content }}</span>
											</a>
										</li>
                                        <hr />
										{% endfor %}
									</ul>
									<div class="text-right">
										<a href="/notes/" class="view-more">View all</a>
									</div>
								</div>
							</div>
						</li>

					</ul>
			
					<span class="separator"></span>
			
					<div id="userbox" class="dropdown userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
                                <div class="img-thumbnail">
								    <img src="{{ user.thumbnail.url }}" class="img-rounded" data-lock-picture="{{ user.thumbnail.url }}" />
                                </div>
							</figure>
							<div class="profile-info" data-lock-name="{{ user.username }}" data-lock-email="{{ user.email }}">
								<b><span class="name">{{ user.username }}</span></b>
								<span class="role">{{ user.department.long_name }}</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled padded-top">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="{{ user.department.url }}/{{ user.url }}/"><i class="fa fa-user"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{% url 'lock' %}"><i class="fa fa-lock"></i> Lock Screen</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Menu
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="/">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									<li>
										<a href="/notes/">
											<span class="pull-right label label-primary">{{ user.unseen_notes|length }}</span>
											<i class="fa fa-inbox" aria-hidden="true"></i>
											<span>Notes</span>
										</a>
									</li>
									<li>
										<a href="/media-gallery/">
											<i class="fa fa-play-circle" aria-hidden="true"></i>
											<span>Media Gallery</span>
										</a>
									</li>
                                    <li class="nav-parent">
										<a>
											<i class="fa fa-wrench" aria-hidden="true"></i>
											<span>Tools</span>
										</a>
                                        <ul class="nav nav-children">
                                            <li>
												<a href="/tools/browser/">
                                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
													 Browser
												</a>
											</li>
											<li>
												<a href="/tools/task-manager/">
                                                    <i class="fa fa-tasks" aria-hidden="true"></i>
													 Task Manager
												</a>
											</li>
											<li>
												<a href="/tools/resource-ingestor/">
                                                    <i class="fa fa-file-picture-o" aria-hidden="true"></i>
													 Resource Ingestor
												</a>
											</li>
                                        </ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-cogs" aria-hidden="true"></i>
											<span>Studio Configuration</span>
										</a>
                                        <ul class="nav nav-children">
											<li>
												<a href="/studio/config/globals/">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
													 Globals
												</a>
											</li>
                                            <li>
												<a href="/studio/config/systems/">
                                                    <i class="fa fa-hdd-o" aria-hidden="true"></i>
													 Systems
												</a>
											</li>
											<li>
												<a href="/Software/">
                                                    <i class="fa fa-terminal" aria-hidden="true"></i>
													 Software
												</a>
											</li>
                                            <li>
												<a href="/Module/">
                                                    <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
													 Modules
												</a>
											</li>
                                            <li>
												<a href="/Profile/">
                                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
													 Profiles
												</a>
											</li>
											<li>
												<a href="/Department/">
                                                    <i class="fa fa-users" aria-hidden="true"></i>
													 Departments
												</a>
											</li>
											<li>
												<a href="/studio/config/users/">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
													 Users
												</a>
											</li>
                                            <li>
												<a href="/studio/config/production/">
                                                    <i class="fa fa-table" aria-hidden="true"></i>
													 Production
												</a>
											</li>
                                        </ul>
									</li>
                                    <li>
										<a href="mailto:{{ user.globals.ticket_email }}?Body=Describe%20your%20issue...">
											<i class="fa fa-bug" aria-hidden="true"></i>
											<span>Submit Ticket</span>
										</a>
									</li>
									<li>
										<a href="/docs/" target="_blank">
											<i class="fa fa-question-circle" aria-hidden="true"></i>
											<span>Documentation</span>
										</a>
									</li>
								</ul>
							</nav>
				
							<hr class="separator" />
				
							<div class="sidebar-widget widget-tasks">
								<div class="widget-header">
									<h6>My projects</h6>
									<div class="widget-toggle">+</div>
								</div>
								<div class="widget-content">
									<ul class="list-unstyled m-none">
                                        {% for project in user.projects.all %}
										<li><a href="{{ project.url }}">{{ project.long_name }}</a></li>
                                        {% endfor %}
									</ul>
								</div>
							</div>
							<hr class="separator" />
						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>{% block header %}Dashboard{% endblock %}</h2>
					
						<div class="right-wrapper pull-right">
							<ol id="breadcrumbs" class="breadcrumbs">
								<li>
									<a href="/">
										<i class="fa fa-home"></i>
									</a>
								</li>
                                {% block breadcrumbs %}
                                <li><span><b>Dashboard</b></span></li>
                                {% endblock %}
							</ol>

							<a id="breadcrumbs-nav-btn" class="sidebar-right-toggle"><i id="breadcrumbs-nav-icon" class="fa fa-chevron-{% if entity %}right{% else %}left{% endif %}"></i></a>
						</div>
					</header>
                    <!-- start: page -->
                    {% block page %}

                    {% endblock %}
					<!-- end: page -->
				</section>
			</div>
		</section>

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>


		<!-- Custom Page Vendor -->
        {% block custom_page_vendor %}
        {% endblock %}
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'javascripts/theme.init.js' %}"></script>

		<!-- Custom Page Scripts -->
        <script src="{% static 'vendor/pnotify/pnotify.custom.js' %}"></script>
        {% block custom_page_js %}
        {% endblock %}
	</body>
</html>