<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Piper Server Dashboard" />
		<meta name="description" content="Piper Server is the web application component of the Piper Pipeline Toolkit - an out-of-the-box CGI production tracking and data management software suite.">
		<meta name="author" content="Viktor Petrov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		{% load static %}

		<title>Piper Server Recover Password</title>

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/" class="logo pull-left appear-animation bounceIn appear-animation-visible">
					<img src="{% static 'images/logo.png' %}" height="54" alt="Piper Logo" />
				</a>

				<div class="panel panel-sign appear-animation fadeInUp appear-animation-visible">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Recover Password</h2>
					</div>
					<div class="panel-body">
						<div class="alert alert-info">
							<p class="m-none text-semibold h6">Enter your e-mail below to receive your new password:</p>
						</div>

						<form id="reset-password-form" method="post" action="/accounts/reset-password/">
							{% csrf_token %}
							<div class="form-group mb-none">
								<div class="input-group">
									<input name="email" type="email" required="required" placeholder="Your e-mail" class="form-control input-lg" />
									<span class="input-group-btn">
										<button id="reset-password-btn" class="btn btn-primary btn-lg" type="submit">Reset</button>
									</span>
								</div>
							</div>

							<p class="text-center mt-lg">Remembered? <a href="/accounts/login/" class="no-underline">Log in!</a>
						</form>
					</div>
				</div>

				<p class="text-center text-muted mt-md mb-md appear-animation fadeIn appear-animation-visible">&copy; Piper 2019. All rights reserved.</p>
			</div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		<script src="{% static 'vendor/pnotify/pnotify.custom.js' %}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'javascripts/theme.init.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'javascripts/forms/update.js' %}"></script>
		<script src="{% static 'javascripts/forms/reset.password.js' %}"></script>

	</body>
</html>