{% extends "index.html" %}

{% block title %}Piper Systems{% endblock %}
{% block header %}Systems <a href="/docs/#systems" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><i class="fa fa-cogs"></i> Studio Configuration</span></li>
    <li><span><b><i class="fa fa-hdd-o"></i> Systems</b></span></li>
{% endblock %}

{% load static %}

{% block page %}
    <div class="row">
    {% for form in forms %}
            <div class="col-md-6 pull-left appear-animation bounceIn appear-animation-visible">
                <form action="update/{{form.instance.id}}/" method="post" class="form-horizontal update-form">
                    {% csrf_token %}
                    <section class="panel panel-featured panel-featured-primary">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down" data-toggle="tooltip" data-placement="top" data-original-title="Minimize"></a>
                                <a href="#" class="fa fa-times" data-toggle="tooltip" data-placement="top" data-original-title="Hide"></a>
                            </div>

                            <h2 class="panel-title">{{ form.instance.platform }}</h2>
                            <p class="panel-subtitle">
                                ({{ form.instance.long_name }})
                            </p>
                        </header>
                        <div class="panel-body">
                            <div class="validation-message">
                                <ul></ul>
                            </div>
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ field.label_tag }}<span class="required"></span></label>
                                <div class="col-sm-9">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-primary btn-block"><i class="fa fa-cloud-upload"></i> Update</button>
                                </div>
                            </div>
                        </footer>
                    </section>
                </form>
            </div>
    {% endfor %}
    </div>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
{% endblock %}
