{% extends "index.html" %}

{% block title %}Piper Correspondence{% endblock %}
{% block header %}Correspondence <a href="/docs/#correspondence" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><b>Correspondence</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/mention/css/mention.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
					<section class="content-with-menu mailbox">
						<div class="content-with-menu-container" data-mailbox-view="email">
							<div class="inner-menu-toggle">
								<a href="#" class="inner-menu-expand" data-open="inner-menu">
									Show Menu <i class="fa fa-chevron-right"></i>
								</a>
							</div>
							
							{% include "mailbox-menu.html" %}

							<div class="inner-body mailbox-email appear-animation fadeIn appear-animation-visible">
								<div class="mailbox-email-header mb-lg">
									<h4 class="mailbox-email-subject m-none text-light">
										On <a href="{{ note.parent.full_url }}">{{ note.parent.type.lower }} {{ note.parent.name }}</a>
									</h4>
                                    <h3>
                                        "{{ note.content }}"
                                    </h3>
							
                                    <p class="mt-lg mb-none text-md">From <a href="{{ note.author.full_url }}">{{ note.author.username }}</a>, {{ note.created }}</p>
								</div>

								<div id="overview" class="tab-pane active">
                                    <div class="timeline timeline-simple mt-xlg mb-md">
                                        <div class="tm-body">
                                            <div class="tm-title">
                                                <i class="fa fa-comments"></i> Thread
                                            </div>
                                            <ol class="tm-items">
                                                <li>
                                                    <section class="simple-compose-box mb-xlg">
                                                        <form action="/note/reply/{{ note.id }}/{{ note.parent.type }}/{{ note.parent.id }}/", method="post" id="post-note-form" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <textarea id="post-note" name="message-text" data-plugin-textarea-autosize placeholder="Reply to {{ note.author.username }}..." rows="3">@{{ note.author.username }} </textarea>
                                                            <div class="compose-box-footer padded-top">
                                                                <div class="float-left icon-block">
                                                                    <a href="#" class="slide-toggle" data-slide-div="file-browser"><i class="fa fa-paperclip"></i></a>
                                                                </div>

                                                                <div id="file-browser" class="input-group quarter-sized float-left sliding">
                                                                    <label class="input-group-btn">
                                                                    <span class="btn btn-primary">
                                                                    Browse
                                                                        {% for field in file_upload_form.visible_fields %}
                                                                            {{ field }}
                                                                        {% endfor %}
                                                                    </span>
                                                                    </label>
                                                                    <input type="text" id="selected-files" class="form-control" readonly>
                                                                </div>

                                                                <div class="float-left icon-block">
                                                                    <a href="#" class="slide-toggle" data-slide-div="tagger"><i class="fa fa-tags"></i></a>
                                                                </div>

                                                                <div id="tagger" class="sliding float-left">
                                                                    <input name="tags" id="tags-input" data-role="tagsinput" data-tag-class="label label-primary" class="form-control half-sized" value="" placeholder="Tags" />
                                                                </div>

                                                                <div class="padded-bottom padded-left padded-right float-left">
                                                                    <button type="submit" class="btn btn-primary" id='upload-btn'><i class="fa fa-send"></i> Post</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </section>
                                                </li>
                                            </ol>
                                            <ol class="tm-items" id="activity-timeline" data-action="/note/thread/{{ note.id }}/">
                                            {% include "notes-correspondence.html" %}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</section>
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/jquery-appear/jquery.appear.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-typehead/js/typeahead.js' %}"></script>
    <script src="{% static 'vendor/mention/js/mention.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/pages/pages.timeline.js' %}"></script>
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#post-note").mention({
				users: [{% for user in users %}
				{
					name: '{{ user.name }}',
					username: '{{ user.username }}',
					image: '{{ user.thumbnail.url }}'
				}{% if not forloop.last %},{% endif %}
				{% endfor %}]
			});
		});
	</script>
{% endblock %}