{% extends "index.html" %}

{% block title %}Piper Error 500{% endblock %}
{% block header %}Error 500 <a href="/docs/#error-500" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span>500</span></li>
{% endblock %}

{% block page %}
		<section class="body-error error-inside">
			<div class="center-error">
				<div class="row">
					<div class="col-md-12">
						<div class="main-error mb-xlg">
							<h2 class="error-code text-dark text-center text-semibold m-none">500 <i class="fa fa-bug"></i></h2>
							<p class="error-explanation text-center">Sorry, something went wrong...</p>
							<p class="error-explanation text-center"><a href="mailto:{{ user.globals.ticket_email }}?Body=Describe%20your%20issue..." class="no-underline"><i class="fa fa-external-link text-dark"></i> Submit bug report</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}