{% extends "index.html" %}

{% block title %}Piper Media Gallery{% endblock %}
{% block header %}Media Gallery <a href="/docs/#media-gallery" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><b>Media Gallery</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/ekko-lightbox/css/ekko-lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
{% endblock %}

{% block page %}
					<!-- start: page -->
					<section class="content-with-menu content-with-menu-has-toolbar media-gallery">
						<div class="content-with-menu-container">
							<div class="inner-menu-toggle">
								<a href="#" class="inner-menu-expand" data-open="inner-menu">
									Filters <i class="fa fa-chevron-right"></i>
								</a>
							</div>
							
							<menu id="content-menu" class="inner-menu appear-animation fadeInLeftBig appear-animation-visible" role="menu">
								<div class="nano">
									<div class="nano-content">

										<div class="inner-menu-toggle-inside">
											<a href="#" class="inner-menu-collapse">
												<i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Filters
											</a>
											<a href="#" class="inner-menu-expand" data-open="inner-menu">
												Filters <i class="fa fa-chevron-down"></i>
											</a>
										</div>

										<div class="inner-menu-content">

											<div class="sidebar-widget m-none">
												<div class="widget-header clearfix">
													<h6 class="title pull-left mt-xs">Project</h6>
													<span class="widget-toggle">+</span>
												</div>
                                                <div class="widget-content">
                                                    <select class="form-control selectpicker" data-live-search="true" required id="project-select">
                                                        <option value="" data-hidden="true"></option>
                                                        {% for project in request.user.projects.all %}
                                                        <option value="{{ project.id }}">{{ project.long_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
											</div>

											<hr class="separator" />

											<div class="sidebar-widget m-none">
												<div class="widget-header clearfix">
													<h6 class="title pull-left mt-xs">User</h6>
													<span class="widget-toggle">+</span>
												</div>
                                                <div class="widget-content">
                                                    <select class="form-control selectpicker" data-live-search="true" required id="user-select">
                                                        <option value="" data-hidden="true"></option>
                                                        {% for user in users %}
                                                        <option value="{{ user.username }}">{{ user.username }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
											</div>

                                            <hr class="separator" />

											<div class="sidebar-widget m-none">
												<div class="widget-header">
													<h6 class="title">Date</h6>
													<span class="widget-toggle">+</span>
												</div>
                                                <div class="widget-content">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        <input id="date-selector" type="text" data-date-format="dd/mm/yyyy" data-plugin-datepicker="" class="form-control">
                                                        <span class="input-group-addon">
                                                            <a id="clear-date" href="#" class="no-underline">✘</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

											<hr class="separator" />

											<div class="sidebar-widget m-none">
												<div class="widget-header">
													<h6 class="title">Tags</h6>
													<span class="widget-toggle">+</span>
												</div>
                                                <div class="widget-content">
                                                    <select id="tags-select" class="select2-container select2-container-multi form-control populate select2-dropdown-open" multiple="multiple">
                                                        {% for tag in tags %}
                                                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
											</div>

										</div>
									</div>
								</div>
							</menu>
							<div class="inner-body mg-main">
								<div class="inner-toolbar clearfix appear-animation fadeInRightBig appear-animation-visible">
									<ul>
                                        <li>
											<a href="#" id="mgSelectAll"><i id="selection-icon" class="fa fa-check-square"></i> <span data-all-text="Select All" data-none-text="Deselect All">Select All</span></a>
										</li>
                                        <li>
											<a id="create-playlist" href="#"><i class="fa fa-list"></i> + Playlist</a>
										</li>
										<li class="right" data-sort-source id="media-gallery">
											<ul id="display-filters" class="nav nav-pills nav-pills-primary">
                                                <li>
                                                    <label>Display:</label>
                                                </li>
												<li class="active">
													<a data-option-value="" href="#all">All</a>
												</li>
												<li>
													<a data-option-value=".version" href="#version">Versions</a>
												</li>
                                                <li>
													<a data-option-value=".playlist" href="#playlist">Playlists</a>
												</li>
												<li>
													<a data-option-value=".image" href="#image">Images</a>
												</li>
												<li>
													<a data-option-value=".video" href="#video">Videos</a>
												</li>
												<li>
													<a data-option-value=".dailies" href="#dailies">Dailies</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div id="media-gallery-container" class="row col-lg-12 mg-files appear-animation fadeIn appear-animation-visible" data-action="/media-gallery/elements/" data-sort-destination data-sort-id="media-gallery">
                                    {% include "media-elements.html" %}
								</div>
                                <div id="loading-spinner" class="col-lg-12 centered aligned-center" style="display: none">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
							</div>
						</div>
					</section>

                    <a id="createFormTrigger" class="modal-with-zoom-anim" href="#createFormPlaylist">
                    {% with entity_model='Playlist' %}
                    {% with refresh_div='media-gallery-container' %}
                    {% with callback='filter_displayed()' %}
                    <!-- start: create form -->
                    {% include "forms-create.html" %}
                    <!-- end: create form -->
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    </a>
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/ekko-lightbox/js/ekko-lightbox.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/pages/pages.mediagallery.js' %}"></script>
{% endblock %}
