{% extends "index.html" %}

{% block title %}Piper {{ entity_model }}s{% endblock %}
{% block header %}{{ entity_model }}s <a href="/docs/#entities-table" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    {% if parent %}
    <li><span><a class="breadcrumb-link" href="../../">{{ parent.type }}s</a></span></li>
    <li><span><a class="breadcrumb-link" href="../">{{ parent.name }}</a></span></li>
    {% endif %}
    <li><span><b>{{ entity_model }}s</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
    {% include "tables-entities.html" %}
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/tables/datatables.editable.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
{% endblock %}