{% extends "index.html" %}

{% block title %}Piper Dashboard{% endblock %}
{% block header %}Dashboard <a href="/docs/#dashboard" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
    <div class="col-md-12  pull-left appear-animation fadeIn appear-animation-visible">
        <div class="row">
            <section class="panel panel-transparent">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <a href="/Project/" class="fa fa-external-link-square" data-toggle="tooltip" data-placement="top" data-original-title="Projects"></a>
                        <a href="/export/xls/Project/" target="_blank" class="fa fa-download" data-toggle="tooltip" data-placement="top" data-original-title="Export to spreadsheet"></a>
                        <a href="#batchUpdate" class="fa fa-upload modal-with-zoom-anim" data-toggle="tooltip" data-placement="top" data-original-title="Update from spreadsheet"></a>
                        <a href="#" class="fa fa-caret-down" data-toggle="tooltip" data-placement="top" data-original-title="Minimize"></a>
                    </div>
                    <h2 class="panel-title"><a href="/Project/" class="no-underline">Projects</a>  <a href="#createFormProject" class="modal-with-zoom-anim"><button id="addButton" class="btn btn-primary">New <i class="fa fa-plus-circle"></i></button></a></h2>
                    <form id="search-form" action="#" class="search nav-form search-form padded-top appear-animation fadeInRight appear-animation-visible">
                        <div class="input-group input-search quarter-sized">
                            <div class="search">
                                <div class="input-group input-search">
                                    <input type="text" class="form-control" name="q" id="search-query" placeholder="Search projects...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </header>
                <div id="projects" data-action="/projects/refresh/">
                    {% include "projects.html" %}
                </div>
            </section>
        </div>
    </div>

    {% with entity_model="Project" %}
    <!-- start: create form -->
    {% include "forms-create.html" %}
    <!-- end: create form -->

    <!-- start: batch update form -->
    {% include "forms-update-xls.html" %}
    <!-- end: batch update form -->
    {% endwith %}
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/pages/pages.home.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
{% endblock %}