{% extends "index.html" %}

{% block title %}Piper User Profile{% endblock %}
{% block header %}User Profile <a href="/docs/#user-profile" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span>User Profile</span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
					<div class="row">
						<div class="col-md-4 col-lg-3 appear-animation pull-left fadeIn appear-animation-visible">
							<section class="panel ">
								<div class="panel-body">
									<div class="thumb-info mb-md appear-animation bounceIn appear-animation-visible aligned-center">
                                        <div id="thumbnail">
                                            {% with entity=selected_user %}
                                            {% include "thumbnail.html" %}
                                            {% endwith %}
                                        </div>
										<div class="thumb-info-title">
											<span class="thumb-info-inner">{{ selected_user.username }}</span>
											<a href="{{ selected_user.department.full_url }}"><span class="thumb-info-type no-colour">{{ selected_user.department.long_name }}</span></a>
										</div>
									</div>
                                    {% if selected_user.description %}
                                    <hr class="dotted short">
									<h6 class="text-muted">About</h6>
									<p>{{ selected_user.description }}</p>
                                    {% if selected_user.email %}
                                    <hr class="dotted short">
									<h6 class="text-muted">E-mail</h6>
                                    <p><a href="mailto:{{ selected_user.email }}">{{ selected_user.email }}</a></p>
                                    {% endif %}
                                    <hr class="dotted short">
                                    {% endif %}
								</div>
							</section>

                            <section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>

									<h2 class="panel-title">
										<span class="label label-primary label-sm text-normal va-middle mr-sm">{{ selected_user.active_tasks|length }}</span>
										<span class="va-middle">Tasks</span>
									</h2>
								</header>
								<div class="panel-body">
									<div class="content scrollable">
										<ul class="simple-user-list">
                                        {% for task in selected_user.active_tasks %}
										<li>
											<p class="clearfix mb-xs">
                                                <a href="{{ task.full_url }}"><span class="message pull-left">{{ task.link.project.name}} / {{ task.link.name }} / {{ task.name }}</span></a>
												<span class="message pull-right text-dark">{{ task.progress_percentage }}%</span>
											</p>
											<div class="progress progress-xs light">
												<div class="progress-bar" role="progressbar" aria-valuenow="{{ task.progress_percentage }}" aria-valuemin="0.0" aria-valuemax="100.0" style="width: {{ task.progress_percentage }}%;"></div>
											</div>
										</li>
                                        {% endfor %}
										</ul>
									</div>
								</div>
							</section>

						</div>
						<div class="col-md-8 col-lg-6 appear-animation pull-left fadeIn appear-animation-visible">

							<div class="tabs tabs-primary">
								<ul class="nav nav-tabs tabs-primary">
									<li class="active">
										<a href="#overview" data-toggle="tab"><i class="fa fa-info-circle"></i> Overview</a>
									</li>
                                    {% if is_current_user %}
									<li>
										<a href="#edit" data-toggle="tab"><i class="fa fa-edit"></i> Edit</a>
									</li>
                                    {% endif %}
								</ul>
								<div class="tab-content">
									<div id="overview" class="tab-pane active">
										<div class="timeline timeline-simple mt-xlg mb-md" id="activity-timeline">
											<div class="tm-body">
												<div class="tm-title">
													<i class="fa fa-filter padded-right"></i>
													<input type="checkbox" checked="" class="filter-checkbox" data-activity="edit" id="updatesCheckbox">
													<label for="updatesCheckbox" class="content-display"><i class="fa fa-pencil"></i> Updates  </label>
													<input type="checkbox" checked="" class="filter-checkbox" data-activity="note" id="notesCheckbox">
													<label for="notesCheckbox" class="content-display"><i class="fa fa-comments"></i> Notes  </label>
												</div>
												<ol class="tm-items scrollable">
                                                    {% for activity in activities %}
                                                    {% if activity.type == 'Note' %}
                                                    <li class="activity-note timeline-activity">
                                                        <div class="tm-box">
                                                            <p class="text-muted mb-none">{{ activity.time_delta_label }} on <a href="{{ activity.parent.full_url }}">{{ activity.parent.type.lower }} {{ activity.parent.name }}</a>.</p>
                                                            <p>
                                                                <i class="fa fa-quote-left"></i> <h5 class="aligned-justify">{{ activity.content }}</h5> <div class="aligned-right"><i class="fa fa-quote-right"></i></div>
                                                            </p>
                                                            {% if activity.attachments %}
                                                            <div class="thumbnail-gallery">
                                                                {% for attachment in activity.attachments %}
                                                                {% if attachment.is_image %}
                                                                <a class="img-thumbnail" href="{{ attachment.file.url }}">
                                                                    <img width="215" src="{{ attachment.file.url }}">
                                                                    <span class="zoom">
                                                                        <i class="fa fa-search"></i>
                                                                    </span>
                                                                </a>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            {% for attachment in activity.attachments %}
                                                            {% if not attachment.is_image %}
                                                            <p>
                                                                <a href="{{ attachment.file.url }}" download="{{ attachment.file.name }}"><i class="fa fa-download"></i> {{ attachment.file.name }}</a>
                                                            </p>
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% endif %}
                                                            <div class="tm-meta">
                                                                {% if activity.tags.all %}
                                                                <span>
                                                                    <i class="fa fa-tags"></i> {% for tag in activity.tags.all %} <a href="{{ tag.url }}">{{ tag.name }}</a> {% endfor %}
                                                                </span>
                                                                {% endif %}
                                                                {% if activity.mentioned_users.all %}
                                                                <span>
                                                                    <i class="fa fa-users"></i> {% for mentioned_user in activity.mentioned_users.all %} <a href="{{ mentioned_selected_user.full_url }}">{{ mentioned_selected_user.name }}</a> {% endfor %}
                                                                </span>
                                                                {% endif %}
                                                                {% if activity.type == 'Note' %}
                                                                <span>
                                                                    <i class="fa fa-mail-reply-all"></i> <a href="/correspondence/{{ activity.id }}">Reply</a>
                                                                </span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
													</li>
                                                    {% else %}
                                                    <li class="activity-edit timeline-activity">
														<div class="tm-box">
															<p class="text-muted mb-none">{{ activity.time_delta_label }}</p>
															{% if activity.change.before %}
															<p>
																<b>Updated</b> <a href="{{ activity.parent.full_url }}">{{ activity.parent.type.lower }} {{ activity.parent.name }}</a>:
															</p>
                                                            {% for key, value in activity.change.after.items %}
                                                            <p>
																{{ key }}: {{ value }}
															</p>
                                                            {% endfor %}
                                                            {% else %}
                                                            <p>
																<b>Created</b> <a href="{{ activity.parent.full_url }}">{{ activity.parent.type.lower }} {{ activity.parent.name }}</a>
															</p>
                                                            {% endif %}
														</div>
													</li>
                                                    {% endif %}
                                                    {% endfor %}
												</ol>
											</div>
										</div>
									</div>
                                    {% if is_current_user %}
									<div id="edit" class="tab-pane">
                                        {% with entity=selected_user %}
										{% include "forms-entity.html" %}
                                        {% endwith %}
									</div>
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-3 appear-animation pull-left fadeIn appear-animation-visible">

							<h4 class="mb-md">Stats</h4>
							<ul class="simple-card-list mb-xlg">
								<li class="primary">
									<h3>{{ selected_user.active_tasks|length }}</h3>
									<p>Task(s) being worked on.</p>
								</li>
                                <li class="primary">
									<h3>{{ selected_user.version_set.all|length }}</h3>
									<p>Version(s) published.</p>
								</li>
								<li class="primary">
									<h3>{{ selected_user.projects.all|length }}</h3>
									<p>Ongoing project(s).</p>
								</li>
							</ul>

                            <section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>

									<h2 class="panel-title">Projects</h2>
								</header>
								<div class="panel-body scrollable">
									<ul class="simple-post-list">
                                        {% for project in selected_user.projects.all %}
										<li>
											<div class="post-image appear-animation bounceIn appear-animation-visible">
												<div class="img-thumbnail">
													<a href="{{ project.full_url }}">
														<img src="{{ project.thumbnail.url }}" class="img-responsive img-rounded">
													</a>
												</div>
											</div>
											<div class="post-info">
												<a href="{{ project.full_url }}" class="no-underline">{{ project.name }}</a>
												<div class="post-meta">
													 {{ project.description }}
												</div>
											</div>
										</li>
                                        {% endfor %}
									</ul>
								</div>
							</section>
						</div>
					</div>

                    <!-- start: update thumbnail form -->
                    {% with entity=selected_user %}
                    {% include "forms-update-thumbnail.html" %}
                    {% endwith %}
                    <!-- end: update thumbnail form -->
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/jquery-autosize/jquery.autosize.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/pages/pages.user.profile.js' %}"></script>
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
{% endblock %}

