{% extends "index.html" %}

{% block title %}Piper Resource Ingestor{% endblock %}
{% block header %}Resource Ingestor <a href="/docs/#resource-ingestor" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><i class="fa fa-wrench"></i> Tools</span></li>
    <li><span><b><i class="fa fa-file-picture-o"></i> Resource Ingestor</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/dropzone/css/basic.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/dropzone/css/dropzone.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/mention/css/mention.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
					<div class="row">
                        <div class="col-md-12 appear-animation pull-left fadeIn appear-animation-visible">
                            <section class="panel">
                                <header class="panel-heading bg-primary">
                                    <div class="panel-heading-icon appear-animation bounceIn appear-animation-visible">
                                        <i id="app-icon" class="fa fa-file-picture-o"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="col-md-12 appear-animation pull-left bounceIn appear-animation-visible">
                                        <section class="panel panel-featured panel-featured-primary form-wizard drop-shadow" id="resource-wizard">
                                            <header class="panel-heading">
                                                <h2 class="panel-title">Ingest Resource</h2>
                                                <div class="panel-actions">
                                                    <a href="/spreadsheet/resource-ingestor/" target="_blank" class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" data-original-title="Batch Ingestion Spreadsheet Template"></a>
                                                    <a href="#batchIngest" class="fa fa-upload modal-with-zoom-anim" data-toggle="tooltip" data-placement="top" data-original-title="Ingest from Spreadsheet"></a>
                                                </div>
                                            </header>
                                            <div class="panel-body">
                                                <div class="wizard-tabs hidden">
                                                    <ul class="wizard-steps">
                                                        <li class="active">
                                                            <a href="#resource-ingestor-context" data-toggle="tab"><span class="badge">1</span>Context</a>
                                                        </li>
                                                        <li>
                                                            <a href="#resource-ingestor-task" data-toggle="tab"><span class="badge">2</span>Task selection</a>
                                                        </li>
                                                        <li>
                                                            <a href="#resource-ingestor-details" data-toggle="tab"><span class="badge">3</span>Resource details</a>
                                                        </li>
                                                        <li>
                                                            <a href="#resource-ingestor-confirm" data-toggle="tab"><span class="badge">4</span>Confirm</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="progress progress-striped progress-xl m-md light">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                                        <span class="sr-only">60%</span>
                                                    </div>
                                                </div>
                                                <form id="resource-ingestor-form" class="form-horizontal" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="tab-content">
                                                        <div id="resource-ingestor-context" class="tab-pane active">
                                                            <div class="col-md-12">
                                                                {% include "context-selector.html" %}
                                                            </div>
                                                        </div>
                                                        <div id="resource-ingestor-task" class="tab-pane">
                                                            <div class="col-xs-12">
                                                                <section class="panel drop-shadow">
                                                                    <header class="panel-heading">

                                                                        <h3 class="panel-title">Task selection</h3>
                                                                    </header>
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label"><b>Step:</b></label>
                                                                            <div class="col-md-6">
                                                                                <div class="input-group btn-group">
                                                                                    <span class="input-group-addon">
                                                                                        <i class="fa fa-th-list"></i>
                                                                                    </span>
                                                                                    <select class="form-control selectpicker" data-live-search="true" required id="step-select">
                                                                                        <option value="" data-hidden="true"></option>
                                                                                        {% for step in steps %}
                                                                                        <option value="{{ step.id }}">{{ step.long_name }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <i id='step-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label"><b>Task:</b></label>
                                                                            <div class="col-md-6">
                                                                                <div class="input-group btn-group">
                                                                                    <span class="input-group-addon">
                                                                                        <i class="fa fa-th-list"></i>
                                                                                    </span>
                                                                                    <select class="form-control selectpicker" data-live-search="true" required id="task-select">
                                                                                        <option value="" data-hidden="true"></option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <i id='task-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                            <div class="col-md-3">
                                                                                <button type="button" id="log-work-btn" class="btn btn-primary"><i class="fa fa-clock-o"></i> Log work</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div id="resource-ingestor-details" class="tab-pane">
                                                            <div class="col-md-12">
                                                                <section class="panel drop-shadow">
                                                                    <header class="panel-heading">
                                                                        <h3 class="panel-title">Resource details</h3>
                                                                    </header>
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label"><b>Resource:</b></label>
                                                                            <i id='resource-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                            <div id="resource-selection" class="col-md-6">
                                                                                <div class="input-group mb-md">
                                                                                    <span class="input-group-addon">
                                                                                        <input type="radio" name="resource-radios" id="resource-existing-radio" value="resource-existing" checked="">
                                                                                    </span>
                                                                                    <select class="form-control selectpicker" data-live-search="true" required id="resource-select">
                                                                                        <option value="" data-hidden="true"></option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="input-group mb-md">
                                                                                    <i id='new-resource-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                                    <span class="input-group-addon">
                                                                                        <input type="radio" name="resource-radios" id="resource-new-radio" value="resource-new">
                                                                                    </span>
                                                                                    <input id="new-resource" type="text" placeholder="New resource..." class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr/>
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label"><b>Select file(s):</b></label>
                                                                            <div class="col-md-6">
                                                                                <div class="input-group mb-md">
                                                                                    <label class="input-group-btn">
                                                                                        <span class="btn btn-primary">
                                                                                            Browse
                                                                                                {% for field in file_upload_form.visible_fields %}
                                                                                                    {{ field }}
                                                                                                {% endfor %}
                                                                                        </span>
                                                                                    </label>
                                                                                    <input type="text" class="form-control" readonly>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr/>
                                                                        <div class="form-group">
                                                                            <label class="col-md-3 control-label" for="resource-description"><b>Description:</b></label>
                                                                            <div class="col-md-6">
                                                                                <input type="text" class="form-control" name="description" id="resource-description" required="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div id="resource-ingestor-confirm" class="tab-pane">
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label" for="notify"><b>Notify via e-mail (@user):</b></label>
                                                                <div class="col-md-6">
                                                                    <input type="text" class="form-control" name="notify" id="notify">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="panel-footer">
                                                <ul class="pager">
                                                    <li class="previous disabled">
                                                        <a><i class="fa fa-angle-left"></i> Previous</a>
                                                    </li>
                                                    <li id="submit-btn" class="finish hidden pull-right">
                                                        <a><i class="fa fa-cloud-upload"></i> Ingest resource</a>
                                                    </li>
                                                    <li class="next">
                                                        <a>Next <i class="fa fa-angle-right"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <!-- start: excel ingest form -->
                    <div id="batchIngest" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
                        <section class="panel panel-featured panel-featured-primary">
                            <form method="post" enctype="multipart/form-data" class="ingest-from-spreadsheet">
                                {% csrf_token %}
                                <header class="panel-heading">
                                    <h2 class="panel-title">Ingest Resources from Spreadsheet</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="modal-wrapper">
                                        <div class="modal-icon">
                                            <i class="fa fa-file-excel-o"></i>
                                        </div>
                                        <div class="modal-text">
                                            <div class="col-md-12">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        Select file:
                                                        <div class="uneditable-input">
                                                            <i class="fa fa-file fileupload-exists"></i>
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-primary btn-file">
                                                            <span class="fileupload-exists">Change</span>
                                                            <span class="fileupload-new">Browse</span>
                                                            <input type="file" required name="spreadsheet" accept=".xls,.xlsx,.csv"/>
                                                        </span>
                                                        <a href="#" class="btn fileupload-exists btn-danger" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                            <button class="btn btn-default modal-dismiss">Cancel</button>
                                        </div>
                                    </div>
                                </footer>
                            </form>
                        </section>
                    </div>
                    <!-- end: excel ingest form -->

                    <!-- start: log work form -->
                    {% include "forms-log-work.html" %}
                    <!-- end: log work form -->

{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/bootstrap-typehead/js/typeahead.js' %}"></script>
    <script src="{% static 'vendor/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-wizard/jquery.bootstrap.wizard.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.js' %}"></script>
    <script src="{% static 'vendor/pnotify/pnotify.custom.js' %}"></script>
    <script src="{% static 'vendor/mention/js/mention.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/context.selector.js' %}"></script>
    <script src="{% static 'javascripts/pages/pages.resource.ingestor.js' %}"></script>
    <script src="{% static 'javascripts/forms/resource.wizard.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#notify").mention({
				users: [{% for user in users %}
				{
					name: '{{ user.name }}',
					username: '{{ user.username }}',
					image: '{{ user.thumbnail.url }}'
				}{% if not forloop.last %},{% endif %}
				{% endfor %}]
			});
		});
	</script>
{% endblock %}
