<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Piper Server Dashboard" />
		<meta name="description" content="Piper Server is the web application component of the Piper Pipeline Toolkit - an out-of-the-box CGI production tracking and data management software suite.">
		<meta name="author" content="Viktor Petrov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		{% load static %}

		<title>Piper Server Locked Screen</title>

        <!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign body-locked">
			<div class="center-sign">
				<div class="panel panel-sign appear-animation fadeInDown appear-animation-visible">
					<div class="panel-body">
						<form method="post" action="{% url 'unlock' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value={{redirect_url}} />
							<div class="current-user text-center">
								<img src="{{ thumbnail }}" class="img-circle user-image" />
								<h2 class="user-name text-dark m-none">{{ current_user.username }}</h2>
                                <p class="user-email m-none"><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></p>
                                <div style="display: none;">
                                    <input type="text" name="username" required id="id_username" value={{ current_user.username }}>
                                </div>
							</div>
							<div class="form-group mb-lg">
								<div class="input-group input-group-icon">
                                    <input type="password" name="password" required id="id_password" class="form-control input-lg" >
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									<p class="mt-xs mb-none">
										<a href="{% url 'logout' %}" class="no-underline">Not {{ current_user.username }}?</a>
									</p>
								</div>
								<div class="col-xs-6 text-right">
									<button type="submit" class="btn btn-primary">Unlock</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'javascripts/theme.init.js' %}"></script>

	</body>
</html>