{% extends extend_page %}


{% block title %}Piper {{ entity.type }}{% endblock %}
{% block header %}{{ entity.type }}: <b>{{ entity.long_name }}</b> <a href="/docs/#entity-timeline" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    {% if entity.parent_model %}
    <li><span><a class="breadcrumb-link" href="../../../">{{ entity.parent.type }}s</a></span></li>
    <li><span><a class="breadcrumb-link" href="../../">{{ entity.parent.long_name }}</a></span></li>
    {% endif %}

    <li><span><a class="breadcrumb-link" href="../">{{ entity.type }}s</a></span></li>
    <li><span><b>{{ entity.long_name }}</b></span></li>
    {% for child in entity.children_models %}
    <li><span><a class="breadcrumb-link" href="{{ child }}/">{{ child }}s</a></span></li>
    {% endfor %}
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/mention/css/mention.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/ekko-lightbox/css/ekko-lightbox.css' %}" />
{% endblock %}

{% block page %}
                    {% if timeline_only is True %}
                    {% else %}
                    <div class="row">
                        <div class="col-lg-12 appear-animation pull-left fadeIn appear-animation-visible">
                            <div class="panel-body panel-featured-bottom panel-featured-primary">
                                <div class="widget-summary widget-summary-xlg">
                                    <div id="thumbnail" class="widget-summary-col widget-summary-col-icon padded-right appear-animation bounceIn appear-animation-visible centered">
                                        {% include "thumbnail.html" %}
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h1 class="blue">{{ entity.long_name }}</h1>
                                            <div class="info">
                                                <h4 class="blue"><b>ID:</b>  {{ entity.id }} | <b>Description:</b> "{{ entity.description }}"</h4>
                                            </div>
                                        </div>
                                        <div class="summary-footer">
                                            {% if edit_form %}
                                            <a id="editFormTrigger" class="modal-with-zoom-anim" href="#editForm"><button type="button" class="mb-xs mt-xs mr-xs btn btn-primary"><i class="fa fa-edit"></i> Edit</button></a>
                                            {% endif %}
                                            {% if configurable %}
                                            <button type="button" data-action="/api/config/{{ entity.type }}/{{ entity.id }}/" class="mb-xs mt-xs mr-xs btn btn-primary configure-btn"><i class="fa fa-gear"></i> Configure</button>
                                            {% endif %}
                                            {% if entity.type == "Task" %}
                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary log-work-btn"><i class="fa fa-clock-o"></i> Log work</button>
                                            {% endif %}
                                            <a href="/History/{{ entity.type }}/{{ entity.id }}/"><button type="button" class="mb-xs mt-xs mr-xs btn btn-info"><i class="fa fa-history"></i> History</button></a>
                                            {% for child in entity.children_models %}
                                            <a href="{{ child }}/"><button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">{{ child }}s <i class="fa fa-angle-double-right"></i></button></a>
                                            {% endfor %}
                                        </div>
                                        {% if entity.type == "Task" %}
                                        <div class="form-group summary-footer aligned-left">
                                        {% include "chart-logged-work.html" %}
                                        </div>
                                        {% endif %}
                                        {% if entity.type == "Project" %}
                                        <div class="form-group summary-footer aligned-left">
                                            <h2 class="col-md-3 panel-title padded-bottom padded-top">Artists:</h2>
                                            <div class="col-md-12">
                                                <select id='artist-select' data-project-id="{{ entity.id }}" class="select2-container select2-container-multi form-control populate select2-dropdown-open" name="artists[]" multiple="multiple">
                                                    {% for artist in artists %}
                                                    <option value="{{ artist.username }}"{% if entity in artist.projects.all %} selected="true"{% endif %}>{{ artist.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12 appear-animation pull-left fadeIn appear-animation-visible full-sized">
                            <section class="simple-compose-box mb-xlg">
                                <form action="/note/post/{{ entity.type }}/{{ entity.id }}/", method="post" id="post-note-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <textarea id="post-note" name="message-text" data-plugin-textarea-autosize placeholder="Post something about {{ entity }}..." rows="3"></textarea>
                                    <div class="compose-box-footer padded-top">
                                        <div class="float-left icon-block">
                                            <a href="#" class="slide-toggle" data-slide-div="file-browser"><i class="fa fa-paperclip"></i></a>
                                        </div>

                                        <div id="file-browser" class="input-group quarter-sized float-left sliding">
                                            <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                            Browse
                                                {% for field in file_upload_form.visible_fields %}
                                                    {{ field }}
                                                {% endfor %}
                                            </span>
                                            </label>
                                            <input type="text" id="selected-files" class="form-control" readonly>
                                        </div>

                                        <div class="float-left icon-block">
                                            <a href="#" class="slide-toggle" data-slide-div="tagger"><i class="fa fa-tags"></i></a>
                                        </div>

                                        <div id="tagger" class="sliding float-left">
                                            <input name="tags" id="tags-input" data-role="tagsinput" data-tag-class="label label-primary" class="form-control half-sized" value="" placeholder="Tags" />
                                        </div>

                                        <div class="padded-bottom padded-left padded-right float-left">
                                            <button type="submit" class="btn btn-primary" id='upload-btn'><i class="fa fa-send"></i> Post</button>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>

                    <div id="activity-timeline" data-action="/timeline/refresh/{{ entity.type }}/{{ entity.id }}/">
                        {% include "timeline.html" %}
                    </div>

                    <!-- start: update thumbnail form -->
                    {% include "forms-update-thumbnail.html" %}
                    <!-- end: update thumbnail form -->

                    <!-- start: configure form -->
                    {% include "forms-configure.html" %}
                    <!-- end: configure form -->

                    {% if edit_form %}
                    <!-- start: edit form -->
                    <div id="editForm" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered">
                        {% with form=edit_form %}
                        {% include "forms-entity.html" %}
                        {% endwith %}
                    </div>
                    <!-- end: edit form -->
                    {% endif %}

                    {% if entity.type == "Task" %}
                    <!-- start: log work form -->
                    {% with task=entity %}
                    {% include "forms-log-work.html" %}
                    {% endwith %}
                    <!-- end: log work form -->
                    {% endif %}

                    <!-- start: deletion dialogue -->
                    {% include "dialog-delete.html" %}
                    <!-- end: deletion dialogue -->
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/ekko-lightbox/js/ekko-lightbox.js' %}"></script>
    <script src="{% static 'vendor/jquery-appear/jquery.appear.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-typehead/js/typeahead.js' %}"></script>
    <script src="{% static 'vendor/mention/js/mention.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    {% if entity.type == "Task" %}
	<script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
	<script src="{% static 'vendor/flot-tooltip/jquery.flot.tooltip.js' %}"></script>
	<script src="{% static 'vendor/flot/jquery.flot.time.js' %}"></script>
	<script src="{% static 'vendor/flot/jquery.flot.categories.js' %}"></script>
	<script src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>
    {% endif %}
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/pages/pages.timeline.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#post-note").mention({
				users: [{% for user in users %}
				{
					name: '{{ user.name }}',
					username: '{{ user.username }}',
					image: '{{ user.thumbnail.url }}'
				}{% if not forloop.last %},{% endif %}
				{% endfor %}]
			});
		});
		{% if entity.type == "Task" %}
        var logged_work_chart_duration_min = {% if entity.work_logs_by_duration %}{{ entity.work_logs_by_duration.last.duration }}{% else %}0{% endif %};
        var logged_work_chart_duration_max = {% if entity.work_logs_by_duration %}{{ entity.work_logs_by_duration.first.duration }} + 10{% else %}0{% endif %};
        var logged_work_chart_data = [
            {% for artist, logs in entity.work_logs_by_user.items %}
            {
            data: [
                {% for log in logs %}
                [{{ log.created_timestamp }}, {{ log.duration }}],
                {% endfor %}
            ],
            label: "{{ artist }}",
            color: get_random_color()
            },
            {% endfor %}
        ];
        var logged_work_logs_data = {}
        var timestamp;
        {% for artist, logs in entity.work_logs_by_user.items %}
        {% for log in logs %}
        timestamp = {{ log.created_timestamp }};
        logged_work_logs_data[timestamp] = {"description": "{{ log.description }}", "id": {{ log.id }} };
        {% endfor %}
        {% endfor %}
        {% endif %}
	</script>
{% endblock %}