{% extends "index.html" %}

{% block title %}Piper Modules{% endblock %}
{% block header %}Modules <a href="/docs/#modules" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><i class="fa fa-cogs"></i> Studio Configuration</span></li>
    <li><span><b><i class="fa fa-puzzle-piece"></i> Modules</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" />
{% endblock %}

{% block page %}
    {% include "tables-entities.html" %}
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/update.js' %}"></script>
    <script src="{% static 'javascripts/tables/datatables.editable.js' %}"></script>
    <script src="{% static 'javascripts/ui-elements/modals.js' %}"></script>
{% endblock %}