
                                                        <div class="row">
                                                            {% for app in software %}
                                                            <div id="{{ app.long_name }}" class="col-md-4 app" data-name="{{ app.long_name }}" data-root="{{ app.system.software_root }}" data-executable="{{ app.executable }}">
                                                                <section class="panel panel-featured-left panel-featured-primary drop-shadow">
                                                                    <div class="panel-body">
                                                                        <div class="widget-summary">
                                                                            <div class="widget-summary-col widget-summary-col-icon app-icon fadeInRight appear-animation appear-animation-visible">
                                                                                <div class="summary-icon bg-primary">
                                                                                    <a href="#{{ app.long_name }}"><img src="PIPER_SERVER_URL{{ app.thumbnail_url }}" class="img-responsive app-thumbnail"></a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="widget-summary-col">
                                                                                <div class="summary">
                                                                                    <h4 class="title"><i>{{ app.category.long_name }}</i></h4>
                                                                                    <div class="info">
                                                                                        <strong class="amount">{{ app.long_name }}</strong>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="summary-footer">
                                                                                    <div class="btn-group">
                                                                                        <button class="btn btn-primary run-btn"><i class="fa fa-play-circle"></i> Run</button>
                                                                                        <button class="btn btn-info browse-btn"><i class="fa fa-folder-open"></i> Browse</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            {% endfor %}
                                                        </div>