{% if full_url %}
<a href="{{ entity.full_url }}/" class="fa fa-external-link-square no-underline"  data-toggle="tooltip" data-placement="top" data-original-title="View"></a>
{% else %}
{% if not entity.parent_model %}
<a href="{{ entity.url }}/" class="fa fa-external-link-square no-underline"  data-toggle="tooltip" data-placement="top" data-original-title="View"></a>
{% else %}
<a href="{{ entity.id }}/" class="fa fa-external-link-square no-underline"  data-toggle="tooltip" data-placement="top" data-original-title="View"></a>
{% endif %}
{% endif %}
<a href="#" class="fa fa-pencil edit-button no-underline" data-entity="/{{ entity.type }}/{{ entity.id }}/" data-toggle="tooltip" data-placement="top" data-original-title="Edit"></a>
<a href="#" class="fa fa-trash-o remove-row no-underline"  data-toggle="tooltip" data-placement="top" data-original-title="Delete"></a>
<a href="/History/{{ entity.type }}/{{ entity.id }}/" target="_blank"  class="no-underline" data-toggle="tooltip" data-placement="top" data-original-title="Browse history"><i class="fa fa-history"></i></a>
{% if entity.locked %}
<a href="#" id="{{ entity.type }}/{{ entity.id }}/" class="locker fa fa-lock no-underline" data-toggle="tooltip" data-placement="top" data-original-title="Toggle locked"></a>
{% else %}
<a href="#" id="{{ entity.type }}/{{ entity.id }}/" class="locker fa fa-unlock no-underline" data-toggle="tooltip" data-placement="top" data-original-title="Toggle locked"></a>
{% if configurable %}
<a href="#" data-action="{{ entity.type }}/{{ entity.id }}/" data-entity="{{ entity.type }} {{ entity.long_name }}" class="configure-action fa fa-gear no-underline" data-toggle="tooltip" data-placement="top" data-original-title="Configure"></a>
{% endif %}
{% endif %}
