                    <div class="col-lg-12 appear-animation pull-left fadeIn appear-animation-visible">
                        <section class="panel panel-featured panel-featured-primary" id="main">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" id="refreshButton" class="fa fa-refresh" data-toggle="tooltip" data-placement="top" data-original-title="Refresh table"></a>
                                    <a href="/export/xls/{% if parent %}{{ parent.type }}/{{ parent.id }}/{% endif %}{{ entity_model }}/" target="_blank" class="fa fa-download" data-toggle="tooltip" data-placement="top" data-original-title="Export to spreadsheet"></a>
                                    <a href="#batchUpdate" class="fa fa-upload modal-with-zoom-anim" data-toggle="tooltip" data-placement="top" data-original-title="Update from spreadsheet"></a>
                                    <a href="#" class="fa fa-caret-down" data-toggle="tooltip" data-placement="top" data-original-title="Minimize"></a>
                                    <a href="#" class="fa fa-times" data-toggle="tooltip" data-placement="top" data-original-title="Hide"></a>
                                </div>

                                <h2 class="panel-title">{{ entity_model }}{% if entity_model != 'Software' %}s{% endif %}</h2>
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-md">
                                            <a href="#createForm{{ entity_model }}" class="modal-with-zoom-anim"><button id="addButton" class="btn btn-primary">Add <i class="fa fa-plus-circle"></i></button></a>
                                        </div>
                                    </div>
                                </div>
                                {% if parent %}
                                <table class="table table-bordered table-striped mb-none datatable-editable" id="datatable-editable" data-entities="{{ parent.type }}/{{ parent.id }}/{{ entity_model }}/">
                                {% else %}
                                <table class="table table-bordered table-striped mb-none datatable-editable" id="datatable-editable" data-entities="{{ entity_model }}/">
                                {% endif %}
                                {% include "tables-editable.html" %}
                                </table>
                            </div>
                        </section>

                        <!-- start: excel batch update form -->
                        {% include "forms-update-xls.html" %}
                        <!-- end: excel batch update form -->

                        <!-- start: create form -->
                        {% include "forms-create.html" %}
                        <!-- end: create form -->

                        <!-- start: configure form -->
                        {% include "forms-configure.html" %}
                        <!-- end: configure form -->

                        <!-- start: edit form -->
                        <a id="editFormTrigger" class="modal-with-zoom-anim" href="#editForm"></a>
                        <div id="editForm" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered">
                        </div>
                        <!-- end: edit form -->

                        <!-- start: deletion dialogue -->
                        {% include "dialog-delete.html" %}
                    </div>
                    <!-- end: deletion dialogue -->