{% if data.url %}
<a class="no-underline" href="{{ data.url }}">{{ data.value }}</a>
{% elif data.many %}
{% for element in data.value %}
<a class="no-underline" href="{{ element.full_url }}">{{ element.name }}</a>
{% endfor %}
{% else %}
{{ data.value }}
{% endif %}